p {
  font-size: 1.3em;
}

h1,h2 {
  font-family: 'Merriweather', serif;
}

h3, h4, p, li{
  font-family: 'PT Serif', serif;
}

/* //First page */
.namebox {
  text-align: center;
  width: 40%;
  margin:0 auto;
  padding-bottom: 25px;

}

.myName{
    margin-top: 20px;
    padding: 10px;
    background-color: #FFF;
}

h1 a{
  font-size: 2em;
  color: #000;
}

h1 a:hover{
  text-decoration: none;
}

hr{
  height: 1px;
  background: #000;
}

/* New NavBar*/
.navbar-toggler{
  border: none !important;
}

.nav-link{
  padding: 15px 15px !important;
  color: #000 !important;
}

/* NavBar */

.nav-item{
  font-size: 2em;
  margin: 0 80px;
  color: #000;
}

.nav-link:hover{
  background-color: rgb(7,63,120) !important;
  color: #fff !important;
}

.navbar-header{
  flex: auto;
  justify-content: flex-end;
}

/* //DrownDown Menu */
 @media only screen and (min-width:769px) {
.dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-submenu {
    position: relative !important;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: 'Merriweather', serif;
    /* margin-top: -18px;
    right: 15px; */
    position: absolute;
    font-weight: 300;
  }
}


@media (max-width:1000px){
  .nav-item{
    margin: 0 30px;
  }
}

@media (max-width:700px){
  .nav-item{
    margin: 0
  }
}
/*
Rest of Page */
.homepage_background{
  background: url('./images/portfolio.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  flex-wrap: unset;
}

.home_about{
  display: inline-block;
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  background: rgba(250,250,250,0.3);
  padding: 20px;
  vertical-align: bottom;
}

.home_about h2{
  font-size: 5em;
  color: #FFF;
  text-align: left;
}

.home_about span{
  display: block;
  text-align: right;
  font-weight: 400;
  color: #FFF;
}

.back_box{
  width: 45vw;
  height: 60vh;
  left: 15%;
  top: 10vh;
  perspective: 35vw;
  position: absolute;
  z-index: 1;
  display: block;
  transform: translateY(200px);

}

.back_box_inner{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.1);
  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(70px) translateY(50px);
  animation-name: boxmove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in;

}
/* moving box keyframe */
@keyframes boxmove {
  5%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(100px) translateY(100px);}
  10%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(170px) translateY(120px);}
  15%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(240px) translateY(150px);}
  20%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(310px) translateY(150px);}
  25%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(380px) translateY(150px);}
  30%{transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(450px) translateY(150px);}
  35%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(520px) translateY(150px);}
  40%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(590px) translateY(120px);}
  45%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(660px) translateY(100px);}
  50%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(730px) translateY(50px);}
  55%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(660px) translateY(100px);}
  60%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(590px) translateY(120px);}
  65%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(520px) translateY(150px);}
  70%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(450px) translateY(150px);}
  75%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(380px) translateY(150px);}
  80%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(310px) translateY(150px);}
  85%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(240px) translateY(150px);}
  90%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(170px) translateY(120px);}
  95%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(100px) translateY(100px);}
  100%{  transform: rotateY(10deg) rotateX(-5deg) translateZ(-150px) translateX(70px) translateY(50px);}}


/* Contact HTML */
.form_box{
  clear: both;
  padding-left: 40px;
  width: 600px;
  margin-bottom: 50px;
}

.email_form{
  margin-top: 30px;
  flex: none;
  font-size: 1.5em;

}

.send_button{
  background: #13D1E3;
}


.form_photo{
  display: inline-block;
  padding-left: 40px;
  margin-top: 30px;
  float: left;
  margin-bottom: 30px;
}
.side-section{
  width: 500px;
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
  float: left;
  text-align: left;
}

.side-section img{
  height: 50px;
  width: 50px;
}

.email_link, .phone_area{
  margin: 15px 0px;
  font-size: 1.2em;
}

h3 span {
  margin-top: 15px;
}

a img {
  margin-right: 10px;
}

/* //form success page */
.thankyou_success{
  margin-top: 50px;
  display: block;
  text-align: center;
}

.thankyou_photo{
  margin: 0 auto;
}

.thankyou_message{
  margin-top: 30px;
  text-align: center;
}


/* About Me CSS */
.about_me_section{
  text-align: center;
}

.hover_figure{
  text-align: center;
}

.hover_figure figure {
	position: relative;
}
.hover_figure figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover_figure figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.about_paragraph{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: left;

}
.about_paragraph h1{
  margin-left: 50px;
  font-size: 2.2em;
}

.about_paragraph p{
  font-size: 1.2em;
  margin-left: 50px;
}

.about_paragraph a{
  color: #000;
}


/* About Skills  */
.top_skill_images{
  width: 50px;
  height: 50px;
}

.top_skills{
  text-align: center;
  margin: 50px 0px;
}

.other_skills{
  text-align: center;
  margin-top: 50px;
}

.mongodb_icon{
  width: 140px;
}

.js-col{
  /* margin-left: 30px; */
}

.languages .title-start{
 background-color: #FFF !important;
}


.languages li{
display: inline-block;
padding: 8px 5px;
background-color: #13D1E3;
/* original color: #313131 */
/* color: #999; */
color: #000;
border-width: 1px 1px 2px 1px;
border-style: solid;
border-color: #222;
border-radius: 3px;
text-transform: uppercase;
font-family: MontSerrat,Tahoma,Arial,sans-serif;
font-weight: 700;
font-size: 1.3em;
line-height: 1em;
box-shadow: 1px 1px 0 rgba(0,0,0,.25);
margin: 3px;
opacity: 1;
cursor: grab;
position: relative;
overflow: hidden;
}

/* DESIGN CSS */

.design_columns{
  margin-bottom: 30px;
  margin: 0 auto;
}

.portfolio_image{
  margin-top: 50px;
  height: 280px;
  width: 450px;
  border: 1px solid black;
}

.unitour_image, .aquacycle_image{
  margin-top: 50px;
  border: 1px solid black;
}

.design_examples{
  text-align: center;
}

.services-paragraph{
  padding-top: 5px;
}

.learn_more_button{
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;

}

/* DESIGN - PORTFOLIO PAGE*/
.portfolio_start{
  padding-top: 40px;
}
.design_portfolio{
  text-align: center;
}

.website_intro{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.old_portfolio{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 400px;
  overflow: scroll;
  border: 1px solid black;
}

.old_portfolio img{
  margin: 0 auto;
  display: block;
}

.additional_info{
  margin-top: 50px;
}

.old_portfolio_container{
  margin-top: 80px;
}

.skills_section img, .contact_section img{
  display: block;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}

.challenges{
  margin-bottom: 50px;
}

.h3_portfolio{
}

/* UNITOUR DESIGN */

.unitour_page{
  padding-top: 40px;
}

.unitour_portfolio{
  text-align: center;
}

.h3_unitour{
}

.embedded_low_unitour, .embedded_hi_unitour{
  margin: 0 auto;
  display: block;
}

.embedded{
  padding-top: 20px;
  padding-bottom: 20px;
}

.personas{
  margin-top: 40px;
}

.wireframe, .wireframe_info, .lowfi_info{
  text-align: center;
}

.research_info, .wireframe_div{
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* AQUACYCLE */
.aquacycle_start{
  text-align: center;
  padding-top: 40px;
}

.aquacycle_info{
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
